@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Age

<div class="row justify-content-md-center">
    <div class="col-6">
        <h2>Form</h2>
        <form action="Result" method="POST">
            <div class="mb-3">
                <label class="form-label" for="name">Imie</label>
                <input class="form-control" type="text" name="name" step="0.00001" id="x"/>
            </div>
            <div class="mb-3">
                <label class="form-label" for="birthDate">Data urodzin</label>
                <input class="form-control" type="date" name="birthDate" step="0.00001" id="y"/>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Oblicz</button>
            </div>
        </form>
    </div>
</div>