@model Zaliczenie.Models.CustomerOrdersViewModel

@{
    ViewData["Title"] = "Customer Orders";
}

<div class="mb-3">
    <h3>Orders of @Model.FirstName @Model.LastName</h3>
</div>

@if (Model.CustomerOrdersViewModels != null)
{
    <div class="list-group">
    @foreach (var item in Model.CustomerOrdersViewModels)
    {
        <a href="#" class="list-group-item list-group-item-action">
            #@item.OrderId <span class="text-muted">@item.OrderDate</span>
        </a>
    }
    </div>
}
else
{
    <div>No orders</div>
}
